body{
    height: 100%;
    width:100%;
	background: url(burg.jpg);
    border-color: green
    background-color: cornflowerblue !important;
}
#video iframe{
	margin-left: 5%;

}
#pic img{
width: 40%;
}
.abt{
	padding: 5%;
	font-family: sans-serif;
	background-color: lightblue;
    font-size: 150%;

}
.div3 img{
	height:15%;
	 width:15%;
}
.form-group img{
	width:30%;
	height:30%;
}
.form-group{
	font-weight: bold;
	font-size: 130%;
}
h2{
	font-weight: bold;
	text-align: center;
}
#foot{
	position: relative;
	left:0;
	right:0;
	bottom: 0%;
	height:10%;
	background-color: #efefef;
	width: 100%;
	padding-left: 10%;
	border-radius:5% 5%;
	text-align: center;
}