body{
    height: 100%;
    width:100%;
	background: url(burg.jpg);
    color: #100505;
    font-family: "Josefin Slab";
}
a{
	color: black;
	font-weight: 700;
}
a:hover{
	color: blue;
}
h1{
	font-size: 290%;
}